/* tab2.page.scss */
.nome-pokemon {
    font-size: 24px; /* Ajuste o tamanho da fonte conforme necessário */
  }
  
  .empate {
    color: yellow;
  }
  
  .ganhou {
    color: red;
  }
  
  .perdeu {
    color: green;
  }
  