<ion-header class="header">
  <ion-title>
    DESENVOLVEDORES
  </ion-title>
</ion-header>

<ion-content class="background">
  <div class="cards">
    <ion-card class="dev-card">
      <ion-card-content>
        <p>Lucas Henrique</p>
        <p>01637184</p>
      </ion-card-content>
    </ion-card>

    <ion-card class="dev-card">
      <ion-card-content>
        <p>Kiane Gurgel</p>
        <p>24006236</p>
      </ion-card-content>
    </ion-card>

    <ion-card class="dev-card">
      <ion-card-content>
        <p>Joel Souza</p>
        <p>01644047</p>
      </ion-card-content>
    </ion-card>

    <ion-card class="dev-card">
      <ion-card-content>
        <p>Carolina Ramos</p>
        <p>01081072</p>
      </ion-card-content>
    </ion-card>

    <ion-card class="dev-card">
      <ion-card-content>
        <p>Heverton Rafael</p>
        <p>01654423</p>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>