<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Chamar Senha
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Chamar Senha</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-content>
      <ion-button expand="block" (click)="ticketService.callNextTicket()">Chamar Senha</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let ticket of ticketService.last5ConcludedTickets">
          <ion-icon name={{ticket.icon}} color={{ticket.color}} slot="start"></ion-icon>
          <ion-label color={{ticket.color}}>{{ticket.number}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>