<ion-header class="header">
  <ion-title>
    DESENVOLVEDORES
  </ion-title>
</ion-header>

<ion-content class="background">
  <div class="cards">
    <ion-card class="dev-card">
      <ion-card-content>
        <p>Aron Santos</p>
        <p>01518477</p>
      </ion-card-content>
    </ion-card>

    <ion-card class="dev-card">
      <ion-card-content>
        <p>emilly dantas</p>
        <p>01645290</p>
      </ion-card-content>
    </ion-card>

    <ion-card class="dev-card">
      <ion-card-content>
        <p>Gisela Nery</p>
        <p>01636707</p>
      </ion-card-content>
    </ion-card>

    <ion-card class="dev-card">
      <ion-card-content>
        <p>Julio Cesar</p>
        <p>01552219</p>
      </ion-card-content>
    </ion-card>

    <ion-card class="dev-card">
      <ion-card-content>
        <p>Leandro Barros</p>
        <p>01652713</p>
      </ion-card-content>
    </ion-card>

    <ion-card class="dev-card">
      <ion-card-content>
        <p>Weslley André</p>
        <p>01634155</p>
      </ion-card-content>
    </ion-card>


  </div>
</ion-content>